@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6,a,p,span,button, link,tr,td,th, label{
    font-family: "Alan Sans", sans-serif;
}

a,link{
  text-decoration: none;
}